@use "../abstracts/colors";
@use "../abstracts/fonts";
@use "../mixins/plate" as *;

.input {
   @include plate;
   &__text {
      background-color: colors.$very-dark-desaturated-blue;
      color: colors.$light-grayish-blue;
      outline: none;
      border: none;
      width: 100%;
      font-size: fonts.$font-size;
      font-family: fonts.$font-family;
   }
}
