@use "../abstracts/fonts";
@use "../abstracts/sizes";
@use "../mixins/plate" as *;
@use "./../mixins/themify" as *;

$br: sizes.$br;

.input {
   @include plate;
   border-radius: $br $br $br $br;

   &__html {
      @include themify("background-color", "plate");
      @include themify("color", "text");
      outline: none;
      border: none;
      width: 100%;
      font-size: fonts.$font-size;
      font-family: fonts.$font-family;
   }
}
