@use "../abstracts/sizes";
@use "./../mixins/themify" as *;

.plate {
   margin: 0 auto;
   width: sizes.$plate-width;
   padding-bottom: 2em;
   transform: translateY(-7em);
   &__prompt {
      font-size: x-small;
      display: flex;
      justify-content: center;
      padding: 3em 0;
      @include themify("color", "link");
   }
}
