@use "../abstracts/sizes";
@use "../mixins/plate" as *;
@use "../mixins/themify" as *;

$br: sizes.$br;

.task {
   @include plate;
   @include themify("border-bottom-color", "border");
   display: flex;
   margin: 0 auto;
   text-align: center;
   list-style: none;
   border-bottom: 1px solid;
   &:first-child {
      border-radius: 5px 5px 0 0;
   }

   &--completed {
      @include themify("color", "text-crossed");
      text-decoration: line-through;
   }
   &__text {
      width: 100%;
      text-align: left;
   }
}
