@use "../abstracts/themes";
@use "../abstracts/colors";
@use "sass:map";

@mixin themify($property, $element) {
    $themeNames: themes.$themeNames;
    $themes: themes.$themes;

    @each $mode in $themeNames {
        $themeColorSet: map.get($themes, $mode);
        $color: map.get($themeColorSet, $element);
        // &--#{$mode} {
        //     #{$property}: $color;
        // }
        @if (#{&} == ".App") {
            &--#{$mode} {
                #{$property}: $color;
            }
        } @else {
            .App--#{$mode} & {
                #{$property}: $color;
            }
        }
    }
}
