/* ### Font */
/* - Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans) */

$font-family: "Josefin Sans", sans-serif;
$font-size: 18px;
$font-size-m: 16px;
$font-size-s: 12px;
$font-weight: 400;
$font-weight-bold: 700;
