@use "scss/abstracts/colors";
@use "scss/abstracts/fonts";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: colors.$very-dark-blue;
  color: colors.$light-grayish-blue;
  font-family: fonts.$font-family;
  font-size: fonts.$font-size;
  font-family: fonts.$font-family;
  font-weight: fonts.$font-weight;
}
