@use "scss/abstracts/colors";
@use "scss/abstracts/fonts";
@use "scss/abstracts/themes";
@use "scss/mixins/themify" as *;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
.App {
  @include themify("background-color", "background");
  height: 100vh;
  font-family: fonts.$font-family;
  font-size: fonts.$font-size;
  font-family: fonts.$font-family;
  font-weight: fonts.$font-weight;
}
